.info-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    float: right;
    margin-right: 20px;
    position: relative;
    top: -9px;
    transition: 0.3s;
  }
  
  .info-button-questionmark {
    font-size: 27px;
    font-weight: 800;
    color: $primary;
    font-family: $general-font;
  }
  
  .info-button:hover{
    background-color: $accent2;
    cursor: pointer;
  }
  
  .header {
    font-family: 'Bungee';
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
  }
  
  .input-field {
    height: 30px;
    width: 800px;
    padding-left: 5px;
    border: none;
    border-radius: $border-radius;
  }
  
  .error-message  {
    color: $warning;
  };

  .landingWrapper {
      width: 100vw;
      height: 100vh;
      background: $primary;
      text-align: center;
      justify-content: center;
      align-content: center;
      position: fixed;
  }

  .landingContent {
    display: inline-block;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
  }