.close-button {
    width: 20px;
    float: right;
}

.trackNameStyles-inmodal {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.artistStyles-inmodal {
    font-size: 12px;
}

