h1 {
padding-top: 10px; //tidigare 20px
z-index: 9
}

h1:hover {
  cursor: pointer;
}

.question-mark-img {
  width: 50px;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
  transition: $transition-time;
}

.question-mark-img:hover{
  background-color: $accent2;
  cursor: pointer;
}

.header {
  font-family: $header-font;
  color: $white;
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}.landingStyle {
  padding-top: 10%;
  margin-bottom: 10px;
}

.input-field {
  height: 30px;
  width: 800px;
  padding-left: 5px;
  border: none;
  border-radius: $border-radius;
}

.error-message  {
  color: $accent2;
  font-weight: bold;
  font-size: $font-size-large;
  padding-top: 5px;
};

.loginButton {
  padding: 5px;
  background: $primary;
  font-size: 20px;
  color: white;
  border: 1px solid $accent2;
  background: $accent2;
  max-width: 250px;
  border-radius: 30px;
  margin: 5px auto;
  z-index: 10
} :hover {
  cursor: pointer;
}

