.question-mark-img {
  width: 50px;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
  transition: $transition-time;
}

.question-mark-img:hover{
  background-color: $accent2;
  cursor: pointer;
}

.header {
  font-family: $header-font;
  color: $white;
  font-size: 5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
}.landingStyle {
  padding-top: 10%;
}

.input-field {
  height: 30px;
  width: 800px;
  padding-left: 5px;
  border: none;
  border-radius: $border-radius;
}

.error-message  {
  color: $accent2;
  font-weight: bold;
  font-size: $font-size-large;
  padding-top: 5px;
};

