.input-range__track--active {
    background: #eeeeee !important;
}

.input-range--disabled .input-range__slider {
    background: #cccccc !important;
    border: 1px solid #cccccc !important;
}

.input-range__slider {
    background: $primary-light !important;
    border: 1px solid $primary-light !important;
}
.toolKit {
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.toolRow {
    padding: 15px;
    margin: 10px;   

}


.menuButton {
    padding: 10px;
    background: $soft-grey;
    text-align: center;
} .active {
    background: $accent2;
    color: white;
}

.playButton {
    padding: 10px;
    background: $primary;
    text-align: center;
    font-size: $font-size-large;
    color: white;
}