//Variables to be used in the project.

// Colors
$primary: #1DB954;
$primary-light: #66d58c;
$primary-dark: #007d2a;
$accent: #b81d96;
$accent2:  #fdad28;
$soft-grey: lightgrey;

//Fonts
$header-font: 'Bungee', sans-serif;
$general-font: Arial, sans-serif;
$font-size-small: 12px;
$font-size-medium: 15px;

$box-shadow: 1px 1px 5px 2px $soft-grey;