.trackCard {
    border-radius: $border-radius;
    border: 1px solid $soft-grey;
    margin: 10px;
    flex: 40%;
    box-shadow: $box-shadow;
}

.trackCardBackground {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trackCardPic {
    margin-right: 5px;
}

.trackCardImg {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-height: 100px;
}

.Details:hover {
  cursor: pointer;
}

.rowCardDetails {
    border-top: 1px solid $grey;
    padding: 10px;
    text-align: center;
}

.barStyle {
    font-size: 12px;
    margin-top: 5px;
}




