
.trackCard {
    border-radius: $border-radius;
    border: 1px solid $soft-grey;
    margin: 10px;
    flex: 40%;
    box-shadow: $box-shadow;
    padding: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.trackCardImg {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-height: 100px;
}

.rowCardDetails {
    text-align: right;
    font-family: $info-font;
    font-size: $font-size-large;
}

.trackNameStyles {
    // margin: 5px;
    font-size: $font-size-medium;
    font-weight: bold;
    margin-bottom: 0px;
    display: block;
    width: 246px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.artistStyles {
    font-size: $font-size-small;    
    display: block;
    width: 246px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.trackNameStyles, .artistStyles {
    margin-left: 10px;
}

.info-i-img {
    width: 20px;
    transition: $transition-time;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.info-i-img:hover{
  background-color: $accent2;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .trackCard {
    flex-direction: column;
  }
}
       





