
.trackCard {
    border-radius: $border-radius;
    border: 1px solid $soft-grey;
    margin: 10px;
    flex: 40%;
    box-shadow: $box-shadow;
}

.trackCardBackground {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trackCardPic {
    margin-right: 5px;
}

.trackCardImg {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-height: 100px;
}

.rowCardDetails {
    // border-top: 1px solid $grey;
    padding: 10px;
    text-align: right;
    font-family: $info-font;
    font-size: $font-size-large;
}

.barStyle {
    font-size: $font-size-small;
    margin-top: 5px;
}

.trackNameStyles {
    margin: 5px;
    font-size: $font-size-medium;
    font-weight: bold;
    // display: flex;
    // flex-wrap: wrap;
    //max-width: 100%; //org. 85%
    display: block;
    width: 246px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    
    //superclamp = Cross-browser ellipsis on multi-line texts.
}

.artistStyles {
    margin: 5px;
    font-size: $font-size-small;
    // display: flex;
    // flex-wrap: wrap;
    //max-width: 100%; //org. 85%
    display: block;
    width: 246px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.info-i-img {
    width: 20px;
    transition: $transition-time;
}

.info-i-img:hover{
  background-color: $accent2;
  cursor: pointer;
}
       





