.header-container {
  text-align: center;
  margin-bottom: 30px;
  /* position: fixed; */
}

.main-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  /* background-color: rgb(218, 227, 230); */
  justify-content: center;
}

.track-container {
  margin-right: 30px;
  border: 1px solid lightgray;
  padding: 20px;
}

.toolkit-container,
.player-container {
  width: 300px;
  border: 0px solid lightgray;
  margin-bottom: 20px;
}

.right-column {
  /* position: fixed; */
  left: 65%;
}

.toolkit-container {
  height: 500px;
}

.player-container {
  height: 200px;
}
